.main-title {
    text-align: center;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fff5b8; /* Cream Newspaper Tone */
    border-bottom: 2px solid #000;
}

.single-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    padding: 10px 0;
    background-color: #fff5b8;
}

.directory-pages {
    text-decoration: underline;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}
